@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Hurricane&family=Love+Light&family=MonteCarlo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/may-flowers-are-illuminated-by-light-that-makes-them-look-warm-photo.jpeg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}

.all {
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    font-family: "Georgia", serif;
    background: url(../images/ANDR-25.jpg);
    background-size: cover;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 40px;
    color: #5a4d47;
    margin-bottom: 20px;
}

.couple-details {
    margin-top: 25vh;
    z-index: 1000;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #5a4d47;
}

.initials {
    margin-top: 32vh;
    width: 350px;
    height: 100px;
    font-size: 150px;
    color: white;
    font-family: "Cinzel Decorative", serif;
    font-style: normal;
    position: relative;
}

.initial-m {
    font-weight: 300;
    position: absolute;
    top: 75px;
    left: 140px;
}

.initial-a {
    font-weight: 300;
    position: absolute;

}

.names {
    line-height: 30px;
}


.waiting {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
    color: #5a4d47;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.time-box {
    text-align: center;
    font-size: 60px;
    color: #5a4d47;
    font-weight: bold;
    border-right: 1px solid;
    border-left: 1px solid;
    width: 200px;
}

.time-box p {
    font-size: 24px;
    color: #8d7b73;
}

.shadebutton {
    position: absolute;
    /* top: 30vh; */
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70vh;
    z-index: 1;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(230, 220, 199, 10%),
            rgb(230, 220, 199));
}

.program {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.letter {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    color: #5a4d47;
}

.letter span {
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
}

.letter p {
    margin-top: 40px;
    margin-bottom: 20px;
}

.photos {
    width: 400px;
    height: 650px;
    margin-top: 50px;
    position: relative;
}

.photo1 {
    width: 300px;
    position: absolute;
    top: 50px;
    left: -275px;
    z-index: 1;
}

.photo2 {
    width: 400px;
    position: absolute;
}

.photo3 {
    width: 300px;
    position: absolute;
    right: -275px;
    top: 100px;
    z-index: 1;
}

.day-program {
    width: 300px;
    height: 625px;
    color: #5a4d47;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.day-program .title {
    font-size: 41px;
    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
}

.icon {
    width: 75px;
    height: 75px;
}

.day-program p {
    width: 150%;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
}

.day-program p p {
    font-size: 42px;
    margin-top: 0;
    font-family: "Hurricane", cursive;
    font-weight: bold;
    line-height: 42px;
}

.venues-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5a4d47;
}

.venue {
    margin-bottom: 50px;
}

.venue-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.venue-address {
    font-size: 24px;
}

.venue-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #5a4d47;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    color: #5a4d47;
    font-weight: bold;
}

.venue-button:hover {
    background: #5a4d47;
    color: white;
}

.map-container {
    margin-top: 20px;
}

.map-iframe {
    width: 1000px;
    height: 500px;
    margin-top: 20px;
    border: 0;
}

.guestlist {
    font-size: 24px;
    color: #5a4d47;
    margin-bottom: 50px;
    text-align: center;
    width: 90%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    background-color: #D3C2AA;
    width: 80%;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
    animation: expand-center 0.5s ease 0s 1 normal forwards;
}

@keyframes expand-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.modal::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.modal::-webkit-scrollbar-track {
    background: none;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.modal h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a4d47;
}

.modal-close {
    width: 35px;
    height: 35px;
    border-radius: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #5a4d47;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 576px) {

    .container {
        background-size: 120%;
        background-position: center;
    }

    .header {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .couple-details {
        font-size: 36px;
        margin-top: 20vh;
    }

    .initials {
        margin-top: 36vh;
        width: 250px;
        height: 100px;
        font-size: 100px;
    }

    .initial-m {
        top: 50px;
        left: 90px;
    }

    .waiting {
        font-size: 20px;
    }

    .countdown {
        gap: 10px;
    }

    .time-box {
        font-size: 36px;
        width: 65px;
    }

    .time-box p {
        font-size: 12px;
    }

    .letter {
        width: 300px;
        font-size: 12px;
    }

    .letter span {
        font-size: 20px;
    }

    .letter p {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .photos {
        width: 250px;
        height: 625px;
    }

    .photo1 {
        width: 150px;
        top: 250px;
        left: -25px;
    }

    .photo2 {
        right: -25px;
        width: 250px;
    }

    .photo3 {
        width: 150px;
        position: absolute;
        right: 0;
        top: 350px;
    }

    .day-program {
        width: 200px;
        height: 350px;
        font-size: 12px;
    }

    .day-program .title {
        font-size: 20px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .day-program p {
        gap: 25px;
        width: 120%;
        margin-top: 20px;
    }

    .day-program p p {
        font-size: 24px;
        line-height: 24px;
    }

    .venue {
        margin-bottom: 25px;
    }

    .venue-title {
        font-size: 16px;
    }

    .venue-address {
        font-size: 12px;
    }

    .venue-button {
        padding: 6px 12px;
        font-size: 8px;
    }

    .map-container {
        margin-top: 10px;
    }

    .map-iframe {
        width: 300px;
        height: 150px;
    }

    .guestlist {
        font-size: 12px;
    }

    .modal h2 {
        font-size: 16px;
    }

    .modal-close {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .header {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .couple-details {
        font-size: 44px;
    }

    .waiting {
        font-size: 28px;
    }

    .countdown {
        gap: 20px;
    }

    .time-box {
        font-size: 44px;
        width: 100px;
    }

    .time-box p {
        font-size: 16px;
    }

    .letter {
        width: 450px;
        font-size: 20px;
    }

    .letter span {
        font-size: 28px;
        font-weight: bold;
        font-style: oblique;
    }

    .letter p {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .photos {
        width: 300px;
        height: 650px;
    }

    .photo1 {
        width: 200px;
        top: 100px;
        left: -100px;
    }

    .photo2 {
        right: -75px;
        width: 300px;
    }

    .photo3 {
        width: 200px;
        position: absolute;
        right: 100px;
        top: 300px;
    }

    .day-program {
        width: 250px;
        height: 500px;
        font-size: 16px;
    }

    .day-program .title {
        font-size: 28px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .day-program p {
        width: 120%;
    }

    .day-program p p {
        font-size: 32px;
        line-height: 32px;
    }


    .venue-title {
        font-size: 24px;
    }

    .venue-address {
        font-size: 20px;
    }

    .venue-button {
        padding: 8px 16px;
        font-size: 12px;
    }

    .map-iframe {
        width: 500px;
        height: 250px;
        margin-top: 20px;
        border: 0;
    }

    .guestlist {
        font-size: 16px;
    }

    .modal h2 {
        font-size: 20px;
    }

    .modal-close {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    .header {
        font-size: 32px;
    }

    .waiting {
        font-size: 32px;
    }

    .countdown {
        gap: 32px;
    }

    .time-box {
        font-size: 44px;
        width: 125px;
    }

    .time-box p {
        font-size: 20px;
    }

    .photos {
        width: 300px;
        height: 550px;
    }

    .photo1 {
        width: 200px;
        top: 100px;
        left: -175px;
    }

    .photo2 {
        width: 300px;
    }

    .photo3 {
        width: 200px;
        right: -175px;
        top: 50px;
    }

    .day-program {
        font-size: 20px;
    }

    .day-program .title {
        font-size: 40px;
    }

    .day-program p p {
        font-size: 40px;
    }

    .map-iframe {
        width: 600px;
        height: 300px;
        margin-top: 20px;
        border: 0;
    }

    .guestlist {
        font-size: 20px;
    }

    .modal-close {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    .time-box {
        font-size: 50px;
        width: 150px;
    }

    .photos {
        width: 350px;
        height: 600px;
    }

    .photo1 {
        width: 250px;
        left: -225px;
    }

    .photo2 {
        width: 350px;
        position: absolute;
    }

    .photo3 {
        width: 250px;
        right: -225px;
    }

    .map-iframe {
        width: 800px;
        height: 400px;
    }
}